/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    color: #333;
}

/* Cabecera */
header {
    background-color: #007acc; /* Azul brillante */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Navegación */
nav {
    background-color: #005b99; /* Azul oscuro */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 20px;
}

/* Títulos */
h1, h2 {
    color: #005b99; /* Azul oscuro */
}

/* Título de las secciones */
.section-title {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #007acc; /* Azul brillante */
}

/* Contenido */
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los enlaces */
a {
    color: #007acc;
}

a:hover {
    color: #005b99;
}
